<!DOCTYPE html>

<html>
    <% if (locals.message) { %>
        <div class="alert-danger"><%= message %></div>
    <% } %>
    <form action="/signup" method="post">
        <div>
            <label>Email:</label>
              <input type="text" value="<%= email %>" name="email"/>
        </div>
        <div>
            <label>Your Preferred Profile name:</label>
            <input type="text" value="<%= profile_name %>" name="profile_name" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" value="<%= password %>" name="password"/>
        </div>
        <div>
            <input type="submit" value="Sign Up!"/>
        </div>
    </form>
</html>